* {
  font-family: "Raleway", sans-serif;
}

html,
body {
  overflow-x: hidden;
}
html,
body,
#app {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
}

.form-components-title {
  color: var(--main-black);
  padding-left: 10px;
  margin-bottom: 8px;
  font-weight: 600;
}

.form-content {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
  border-radius: 2em;
}
